body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;

}
.orange-colour {color: orange;

}
.amarbio1 {
    width: 50%;
    border-left: 0;
    padding-left: 5%;
    
}
.pic1 {
    width: 50%;
    }
    .pic1 img {
        width: 80%;
    }
section {
    display: flex;
}
.link-button {
    background-image: linear-gradient(blue,navy);
    text-decoration: none;
    border-radius: 5%;
    padding: 11px 20px;
    color: orange;
    font-weight: 700;
}
.upore {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}